.qhebunelicon {
	background: url(icon.png) no-repeat bottom left;
	margin-bottom: 8px;
}

/* Categories */
.qheb-catlist {
}
.qheb-catlist .qheb-catname {
	width: 20%;
}
.qheb-catlist .qheb-catdesc {
	width: 30%;
}
.qheb-catlist .qheb-catpos {
	width: 8%;
}
.qheb-catlist .qheb-catprop {
	width: 10%;
}
.qheb-catlist input[type="checkbox"] {
	margin-right: 5px;
}
.qheb-catlist a {
	margin-right: 5px;
}
#poststuff.qheb-metabox {
	width: 400px;
}
#poststuff.qheb-metabox th{
	text-align:left;
}
#poststuff.qheb-metabox input[type="text"], #poststuff.qheb-metabox select, #poststuff.qheb-metabox input[type="file"] {
	width: 100%;
}
#poststuff.qheb-metabox .editform {
	width: 100%;
}
.qheb-catlist-subitem:before {
	content:"– ";
}
.qheb-catlist-subitempos {
	padding-left: 26px !important;
}
.qheb-catlist-subitempos-up, .qheb-catlist-subitempos-down {
	width: 13px;
	display: inline-block;
}
.qheb-catlist-subitempos-up {
	margin-left: 30px;
}
.qheb-catdelcb {
	margin-left: 30px;
}
#qheb-catpermsform {
	width: 440px;
}
#qheb-catpermsform table {
	width: 100%;
}
.qheb-cpgroup {
	width: 200px;
}
#qheb-catpermsform input {
	width: 100%;
}
.qheb-cpnone, .qheb-cpread, .qheb-cpwrite, .qheb-cpstart {
	text-align: center !important;
}
#qheb-catpermsform .prominent, .qheb-catlist .prominent {
	font-weight: bold;
}

/* user list */
.qheb-catlist .qheb-username {
	width: 20%;
}
.qheb-catlist .qheb-usergroups {
	width: 80%;
}
#qheb-ulist-group {
	display: none;
}
#qheb-ulist-group .qheb-prom {
	font-weight: bold;
}
.qhebsubsubsub {
	clear: left;
	margin-top: 4px;
}
tr.banned {
	opacity: 0.5;
}

/* badges */
.qheb-bgroup-hidden {
	font-style: italic;
}
h3 .add-new-h2 {
	font-weight: normal;
}
.qheb-catlist .qheb-bicon-large {
	width: 160px;
}
.qheb-catlist .qheb-bicon-small {
	width: 160px;
}

/* generic options */
.qheb-form-table td {
	vertical-align: top;
}
