@CHARSET "UTF-8";

/*
Category list
*/
#qheb_catlist {
	border: 2px solid #BFC3C6;
}
#qheb_catlist tbody tr:last-child td {
	border: 0 none;
	height: 10px;
}
#qheb_catlist th {
	background-color: #504d6c;
	color: #fff;
	text-transform: none;
}
#qheb_catlist .qheb_cat1_title {
	font-family: "Titillium Maps", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: normal;
}
#qheb_catlist .qheb_cat1_desc {
	font-size: 14px;
	font-weight: normal;
}
#qheb_catlist .thread_count {
	white-space: nowrap;
	display: block;
}
#qheb_catlist .post_count {
	white-space: nowrap;
	display: block;
}

/*
Thread list
*/
.qheb_threadlist .name {
	white-space: nowrap;
	display: block;
}
.qheb_threadlist .date {
	white-space: nowrap;
	display: block;
}
.thread-icon {							/* normal, no unread, open */
}
.thread-icon.unread {					/* normal, unread, open */
}
.thread-icon.pinned {					/* pinned, no unread, open */
}
.thread-icon.pinned.unread {			/* pinned, unread, open */
}
.thread-icon.closed {					/* normal, no unread, closed */
}
.thread-icon.closed.unread {			/* normal, unread, closed */
}
.thread-icon.closed.pinned {			/* pinned, no unread, closed */
}
.thread-icon.closed.pinned.unread {		/* pinned, unread, closed */
}

/*
New thread
*/
input.error, textarea.error, select.error {
	background-color: #ffdddd !important;
}
#new-thread-form textarea {
	height: 250px;
	width: 100%;
}

/*
Thread
*/
.qheb-thread {
	padding: 0;
}
.qheb-thread .thread-title {
	font-family: "Titillium Maps", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: normal;
}
.qheb-thread .thread-title div, .qheb-thread .thread-title h2 {
	display: inline;
	font: inherit;
}
.qheb-thread .thread-pagination {
	display: inline-block;
	float: right;
}
.qheb-thread .thread-actions {
	margin: 12px 0;
}
.qheb-thread .thread-actions a {
	margin: 0 16px 0 0;
}
.qheb-thread .thread-pagination a {
	margin: 0;
}
.qheb-post {
	position: relative;
	list-style: none;
	border: 1px solid;
	margin: 0 0 6px;
	padding: 0;
}
.qheb-post:after {
	content: '.'; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	height: 0; 
	line-height: 0;
}
.qheb-post .user-info {
	width: 160px;
	float: left;
	border-right: 1px solid;
	overflow: hidden;
}
.qheb-post .user-name {
	text-align: center;
}
.qheb-post .user-avatar {
	text-align: center;
}
.qheb-post .user-badges {
	text-align: center;
	margin: 0 0 4px;
}
.qheb-post .user-badges div {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 3px;
}
.qheb-post .post-holder {
	width: 621px;
	float: left;
	border-left: 1px solid;
	margin-left: -1px;
	padding: 3px;
}
.qheb-post .post-message {
}
.qheb-post .post-message .spoiler {
	border: 2px dashed #aaa;
	padding: 3px;
}
.qheb-post .post-message .spoiler.spoiler-closed div {
	display:none;
}
.qheb-post .user-signature {
	max-height: 100px;
	margin-top: 10px;
	padding-top: 2px;
	border-top: 1px solid #bfc3c6;
	overflow: hidden;
}
.qheb-post .post-meta {
	font-size: 9pt;
	text-align: right;
}
.qheb-post .post-actions {
	margin-top: 7px;
	border-top: 1px solid;
	padding: 2px 5px;
	text-align: right;
	font-size: 11pt;
}
.post-actions a {
	margin: 0 0 0 16px;
}
.qheb-post .post-attachments {
	margin-top: 7px;
}
.post-attachments ul {
	list-style: none;
	margin: 0;
	padding: 0 0 0 17px;
}
.qheb-post.deleted {
	background: rgba(0,0,0,0.3);
}
.qheb-post.reported {
	background: rgba(255,0,0,0.3);
}
#reply-form textarea {
	height: 250px;
	width: 100%;
}
#reply-form span.attachmentlist {
	float: left;
	margin-top: 10px;
}
#reply-form div.attachmentlist {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#reply-form div.attachments:after {
	content: '.'; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	height: 0; 
	line-height: 0;
}
#reply-form input[type=submit] {
}
#send-reply {
	border: 1px solid #000;
	padding: 5px 15px;
	margin: 10px 0;
}
#move-post, #report-post {
	display: none;
}
#move-post label {
	margin-left: 15px;
}
#move-post select, #move-post input[type=text] {
	width: 175px;
	margin-left: 8px;
}
#move-post input[type=submit], #move-post label {
	margin-top: 10px;
}
#move-post #move-post-thread-title-label {
	display: block;
}
.post-reports {
}
.post-report-message {
	margin: 10px 0 0;
}
.post-report-message p {
	margin: 5px 0;
	text-align: left;
}
.post-report-message p.report-reason {
	padding: 0 0 0 50px;
}

/*
Edit post
*/
#edit-post-form textarea {
	height: 250px;
	width: 100%;
}
#edit-post-form input[type=text] {
	width: 100%;
}
ul.old-files {
	list-style: none;
	padding: 0;
}

/*
Profile - user settings
*/
.profile_settings th {
	width: 240px;
	font-family: "Bitter",Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
    font-size: 12px;
    font-weight: bold;
    vertical-align: top;
}
.profile_settings label {
	width: 100%;
}
.profile_settings textarea {
	height: 200px;
	width: 546px;
	resize: vertical;
}
.profile_settings .user-signature {
	max-height: 100px;
	overflow: hidden;
}
.profile_settings .icon {
	font-size: 17px;
	line-height: 29px;
}

/*
Profile - user information page
*/
.user-basic-data {
	width: 380px;
	height: 100px;
	margin: 0 auto;
}
.user-basic-data .avatar-holder {
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
}
.user-basic-data .name {
	text-align: center;
	margin: 5px 0;
}
.user-basic-data .profile-actions {
	text-align: center;
	margin: 5px 0;
	font-size: 0.85em;
	line-height: 0.85em;
}
/*
Private messages
*/
.private-msg-list {
	width: 250px;
	border: 1px solid;
	float: left;
	max-height: 424px;
	overflow-y: auto;
	overflow-x: none;
	margin-bottom: 22px;
}
.private-msg-list a {
	display: block;
	border-bottom: 1px solid;
}
.private-msg-list time {
	font-size: 12px;
	float: right;
	padding-right: 5px;
}
.private-msg-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 5px -2px;
	background: url(private_msg_icons.png) transparent no-repeat 0 -200px;
}
.private-msg-list a.inbox.unread .private-msg-icon {
	background-position: 0 0;
}
.private-msg-list a.inbox.read .private-msg-icon {
	background-position: 0 -16px;
}
.private-msg-list a.outbox.unread .private-msg-icon {
	background-position: 0 -32px;
}
.private-msg-list a.outbox.read .private-msg-icon {
	background-position: 0 -48px;
}
.private-msg-excrept {
	display: block;
}
.private-msg-conversation {
	margin-left: 270px;
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: none;

}
.private-msg-conversation time {
	float: right;
	padding-right: 5px;
	font-size: 12px;
}
.private-msg-msg {
	margin: 0 0 20px;
}
.private-msg-text {
	display: block;
	padding: 0 0 0 20px;
}
.private-msg-title {
	margin-left: 270px;
}
.private-msg-form {
	margin-left: 270px;
	display: block;
}

/*
Badges
*/
ul.badge-wall {
	list-style: none;
	padding: 0;
}
ul.badge-wall-single {
	text-align: center;
}
li.badge-frame {
	display: inline-block;
	width: 320px;
	height: 110px;
	margin: 5px;
	border: 1px solid;
	position: relative;
}
li.badge-frame .img {
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin: 5px;
	float: left;
}
li.badge-frame img {
	vertical-align: middle;
}
li.badge-frame .name {
	margin: 5px 5px 5px 110px;
	text-align: center;
}
li.badge-frame .description {
	text-align: center;
	
}
li.badge-frame .status {
	position: absolute;
	left: 110px;
	right: 5px;
	bottom: 5px;
}
li.badge-frame .status, li.badge-frame .actions {
	text-align: center;
	font-size: 0.85em;
	line-height: 0.85em;
}
.badge-action {
	text-align: center;
}
.user-wall {
	list-style: none;
	padding: none;
}
.user-wall li {
	text-align: center;
	display: inline-block;
	width: 150px;
	height: 150px;
}
.user-wall .avatar-holder {
	width: 100px;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
}
.user-wall img {
	vertical-align: middle;
}
.user-wall .date {
	font-size: 0.85em;
	line-height: 0.85em;
}